@keyframes revealLeft {
     0% {clip-path: inset(0 100% 0 0);}      
     100% {clip-path: inset(0 0 0 0);}
}

@keyframes revealRight {
     0% {clip-path: inset(0 0 0 100%);}      
     100% {clip-path: inset(0 0 0 0);}
}